* {
    font-family: 'Times New Roman';
}






nav {
    background-color: beige;
}

h1 {
    color: bisque;
    text-transform: uppercase;
    font-family: 'Times New Roman';
    align-content: center;
}

.btn-primary {
    color: whitesmoke;
    background-color: #1C6DD0;
    text-transform: uppercase;
    border-color: wheat;
}

    .btn-primary:hover {
        color: white;
        background-color: orangered;
    }

.graph {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

    .graph td, .graph th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .graph tr th {
        text-align: center;
    }

    .graph tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .graph tr:hover {
        background-color: #ddd;
    }

    .graph th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1C6DD0;
        color: white;
    }

.delbutton span {
    text-transform: uppercase;
}

.form-floating {
    padding: 5px;
}
